<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate vacation pay</title>
</head>
<body>
<h1>Calculate vacation pay</h1>
<form method="get" action="/calculate" th:object="${vacationRequest}">
    <div>
        <label for="salary">Salary:</label>
        <input type="number" step="0.01" id="salary" name="salary" th:field="*{salary}"/>
        <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">error</div>
    </div>
    <div>
        <label for="vacationDays">Number of days off:</label>
        <input type="number" id="vacationDays" name="vacationDays" th:field="*{vacationDays}"/>
        <div style="color:red" th:if="${#fields.hasErrors('vacationDays')}" th:errors="*{vacationDays}">error</div>
    </div>
    <button type="submit">submit</button>
</form>
<div th:if="${vacationPay != null}">
    <p>Your vacation pay is: <span th:text="${vacationPay}"></span></p>
</div>
</body>
</html>